.afterpay-logo {
    background-image: url('../img/logo.png');
    float: right;
    height: 34px;
    margin: 9px 0 0 5px;
    width: 164px;
}

.payment-method-additional-data .customer-dob label {
    width: 100%;
}

.payment-method-additional-data .customer-dob select {
    display: inline-block;
    width: 90px;
}

.payment-method-additional-data .customer-dob select.dob-year {
    width: 105px;
}

.payment-method-additional-data .terms-and-conditions .label {
    display: inline;
}

h1.afterpay-test-mode {
    text-align: center;
    background-color: #e02b27;
    color: #fff;
}